# Initial Setup: Import Pandas and CSV

In [1]:
# Import Pandas
import pandas as pd

In [2]:
# Path for the 2 CSV files
student_file = "Resources/students_complete.csv"
school_file = "Resources/schools_complete.csv"

In [3]:
# Read both CSVs in
student_df = pd.read_csv(student_file)
school_df = pd.read_csv(school_file)

# Merge the CSVs into 1 dataset
comb_df = pd.merge(student_df, school_df, on="school_name", how="left")

# Head, Shape. Info
display(comb_df.head())
print(comb_df.shape)
comb_df.info()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

(39170, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

In [4]:
# Make all the column names easily readable and allow for dot notation
comb_df.columns = [x.lower().replace(" ", "_") for x in comb_df.columns]

comb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   school_id      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

# District Summary

In [5]:
# Total Number of unique schools; nunique schools
school_count = comb_df.school_name.nunique()
school_count

15

In [6]:
# Total Students; count of student_id
student_count = comb_df.student_id.count()
student_count

39170

In [7]:
# Total Budget
# Found the unique values and then summed them
total_budget = comb_df.budget.unique().sum()
total_budget

24649428

In [8]:
# Average Math Score; Math Score/Total Students
average_math = comb_df.math_score.mean()
average_math

78.98537145774827

In [9]:
# Average Reading Score
average_read = comb_df.reading_score.mean()
average_read

81.87784018381414

In [10]:
# % Passing Math (# Students with a score >= 70 in math/total students)
math_filt = comb_df.math_score >= 70
pass_math_count = comb_df[math_filt].count().student_name
perc_pass_math = pass_math_count/student_count * 100 # Didn't cast student_count as a float since it isn't necessary 
perc_pass_math

74.9808526933878

In [11]:
# % Passing Reading (Same logic as % Passing Math)
read_filt = comb_df.reading_score >= 70
pass_read_count = comb_df[read_filt].count().student_name
perc_pass_read = pass_read_count/student_count * 100 # Didn't cast student_count as a float since it isn't necessary 
perc_pass_read

85.80546336482001

In [12]:
# % Passing BOTH Math and Reading (Filt need an "&" for the Math passing and reading passing filt)
pass_filt = (comb_df.math_score >= 70) & (comb_df.reading_score >= 70)
pass_count = comb_df[pass_filt].count().student_name
perc_pass = pass_count/student_count * 100
perc_pass

65.17232575950983

In [19]:
# Create the new DataFrame with all the value
district_summary_data = {
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    "% Passing Math": perc_pass_math,
    "% Passing Reading": perc_pass_read,
    "% Overall Passing": perc_pass
}

district_summary = pd.DataFrame(district_summary_data, index=[0])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [22]:
print(school_df.info())
comb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School ID    15 non-null     int64
 1   school_name  15 non-null     object
 2   type         15 non-null     object
 3   size         15 non-null     int64
 4   budget       15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   school_id      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

In [21]:
# School types per school (includes the school names) from the starter code
school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [23]:
# Total Students per school
stud_per_school = comb_df.groupby("school_name").student_name.count()
stud_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [51]:
# Total School Budget per school
budget_per_school = comb_df.groupby("school_name").budget.unique()
budget_per_school = budget_per_school.astype("int64") # Casting this as an integer; originally was an object
budget_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [52]:
# Per Student Budget per school
per_student_budget = budget_per_school/stud_per_school
per_student_budget = per_student_budget.astype("int64") # Casting this as an integer; originally was an object
per_student_budget

school_name
Bailey High School       628
Cabrera High School      582
Figueroa High School     639
Ford High School         644
Griffin High School      625
Hernandez High School    652
Holden High School       581
Huang High School        655
Johnson High School      650
Pena High School         609
Rodriguez High School    637
Shelton High School      600
Thomas High School       638
Wilson High School       578
Wright High School       583
dtype: int64

In [39]:
# Average Math Score per school
avg_math_per_school = comb_df.groupby("school_name").math_score.mean()
avg_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [40]:
# Average Reading Score per school
avg_read_per_school = comb_df.groupby("school_name").reading_score.mean()
avg_read_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [42]:
# % Passing Math per school (# Students with a score >= 70 in math/total students)
math_filt1 = comb_df.math_score >= 70
tot_pass_math_count = comb_df[math_filt1]
pass_math_count_schl = tot_pass_math_count.groupby("school_name").size()

perc_pass_math_schl = pass_math_count_schl/stud_per_school * 100 # Didn't cast student_count as a float since it isn't necessary 
perc_pass_math_schl

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [41]:
# % Passing Reading per school (Same logic as % Passing Math)
read_filt1 = comb_df.reading_score >= 70
tot_pass_read_count = comb_df[read_filt1]
pass_read_count_schl = tot_pass_read_count.groupby("school_name").size()

perc_pass_read_schl = pass_read_count_schl/stud_per_school * 100 # Didn't cast student_count as a float since it isn't necessary 
perc_pass_read_schl

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [43]:
# % Passing BOTH Math and Reading per school (Filt need an "&" for the Math passing and reading passing filt)
pass_filt_schl = (comb_df.math_score >= 70) & (comb_df.reading_score >= 70)
tot_pass_count_schl = comb_df[pass_filt_schl]
pass_count_schl = tot_pass_count_schl.groupby("school_name").size()

perc_pass_schl = pass_count_schl/stud_per_school * 100
perc_pass_schl

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [54]:
# Create the new DataFrame with all the value
per_school_summary_data = {
    "School Types": school_types,
    "Total Students": stud_per_school,
    "Total School Budget": budget_per_school,
    "Per Student Budget" : per_student_budget,
    "Average Math Score": avg_math_per_school,
    "Average Reading Score": avg_read_per_school,
    "% Passing Math": perc_pass_math_schl,
    "% Passing Reading": perc_pass_read_schl,
    "% Overall Passing": perc_pass_schl
}

per_school_summary = pd.DataFrame(per_school_summary_data)

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

# Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort Schools by % Overall Passing and display top 5 schools (ascending=False).head()

# Save Results in new DataFrame: top_schools

# Lowest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort Schools by % Overall Passing and display bottom 5 schools (ascending=True).head()

# Save Results in new DataFrame: bottom_schools

# Math Scores by Grade

In [ ]:
# Create DataFrame for average math scores for students in each grade at each school

# Reading Scores by Grade

In [ ]:
# Create DataFrame for average math scores for students in each grade at each school

# Scores by School Spending