# Initial Setup: Import Pandas and CSV

In [1]:
# Import Pandas
import pandas as pd

In [5]:
# Path for the 2 CSV files
student_file = "Resources/students_complete.csv"
school_file = "Resources/schools_complete.csv"

In [9]:
# Read both CSVs in
student_df = pd.read_csv(student_file)
school_df = pd.read_csv(school_file)

# Merge the CSVs into 1 dataset
comb_df = pd.merge(student_df, school_df, on="school_name", how="left")

# Head, Shape. Info
display(comb_df.head())
print(comb_df.shape)
comb_df.info()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

(39170, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

In [10]:
# Make all the column names easily readable
comb_df.columns = [x.lower().replace(" ", "_") for x in comb_df.columns]

comb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   school_id      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

# District Summary

In [12]:
# Total Number of unique schools; nunique schools
school_count = comb_df.school_name.nunique()
school_count

15

In [14]:
# Total Students; count of student_id
student_count = comb_df.student_id.count()
student_count

39170

In [17]:
# Total Budget
# Found the unique values and then summed them
total_budget = comb_df.budget.unique().sum()
total_budget

24649428

In [ ]:
# Average Math Score; Math Score/Total Students
average_math = 
average_math

In [ ]:
# Average Reading Score

In [ ]:
# % Passing Math (# Students with a score >= 70 in math/total students)
math_filt = 
perc_pass_math

In [ ]:
# % Passing Reading (Same logic as % Passing Math)

In [ ]:
# % Passing BOTH Math and Reading (Filt need an "&" for the Math passing and reading passing filt)

In [ ]:
# Create the new DataFrame with all the value

# School Summary

In [ ]:
# School names

In [ ]:
# School types per school

In [ ]:
# Total Students per school

In [ ]:
# Total School Budget per school

In [ ]:
# Per Student Budget per school

In [ ]:
# Average Math Score per school

In [ ]:
# Average Reading Score per school

In [ ]:
# % Passing Math per school (# Students with a score >= 70 in math/total students)
math_filt2 = 
perc_pass_math

In [ ]:
# % Passing Reading per school (Same logic as % Passing Math)

In [ ]:
# % Passing BOTH Math and Reading per school (Filt need an "&" for the Math passing and reading passing filt)

In [ ]:
# Create the new DataFrame with all the value

# Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort Schools by % Overall Passing and display top 5 schools (ascending=False).head()

# Save Results in new DataFrame: top_schools

# Lowest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort Schools by % Overall Passing and display bottom 5 schools (ascending=True).head()

# Save Results in new DataFrame: bottom_schools

# Math Scores by Grade

In [ ]:
# Create DataFrame for average math scores for students in each grade at each school

# Reading Scores by Grade

In [ ]:
# Create DataFrame for average math scores for students in each grade at each school

# Scores by School Spending